.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-div{
  width: 500px;
  height: 300px;
  background-color: blue;
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  padding: 10px;
}
#timeCount{
  border: 2px solid black;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 20px;
  font-size: x-large;
 
 
}

#current-time{

  font-size: 40px;
  font-weight: bolder;
  margin-top: 20px;
  color: black;
  text-align: center;
}
.heading{
  color: white;
  text-align: center;

}